<template name="seleccionMaterialE">
	<section id="seccionMaterialE">
		<div class="row">
			<div class="col s2">
				<br>
				<img class="responsive-img" src="img/persona.png">
			</div>
			<div class="col s5">
				<div class="row">
					<div class="input-field col s12">
						<input id="txtNumeroControl" type="text" class="validate">
						<label for="txtNumeroControl">No. de control</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="txtNombre" type="text" class="validate">
						<label for="txtNombre">Nombre</label>
					</div>
				</div>
			</div>
			<div class="col s2 offset-s3">Fecha: 01/12/2015</div>
		</div>
		<p id="textoMaterial">Por favor, seleccione los articulos y la cantidad de ellos que necesitará para su práctica.</p>
		<div class="row">
			<div class="col s10 offset-s1">
				<table class="responsive-table highlight bordered">
					<thead>
						<tr>
							<th data-field="cantidad">Cantidad</th>
							<th data-field="descripcion">Descripción</th>
							<th data-field="disponibles">Disponibles</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<select class="browser-default col s5">
									<option value="" disabled selected>Cantidad</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="1">4</option>
									<option value="2">5</option>
									<option value="3">6</option>
								</select>
							</td>
							<td>Pasta para soldar</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col s6 offset-s4">
				<button class="btn waves-effect waves-light  green darken-1" type="submit" name="action">Entrar
				</button>
				<a class="waves-effect waves-light btn red darken-1">Cancelar</a>
			</div>
		</div>
	</section>
</template>