<template name="pantallaLaboratorios">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s2"><a class="active" href="#prestamos">Préstamos</a></li>
				<li class="tab col s2"><a href="#laboratorios">Laboratorios</a></li>
				<li class="tab col s2"><a href="#inventarios">Inventario</a></li>
				<li class="tab col s2"><a href="#reportes">Reportes</a></li>
				<li class="tab col s2"><a href="#salir">Salir</a></li>
			</ul>
		</div>
	</div>
	<div id="prestamos" class="col s12">
		<div id="menuPrestamos">
			<ul>
				<a class="waves-effect waves-light btn" id="btnPendientes">Pendientes</a>
				<a class="waves-effect waves-light btn" id="btnEnProceso">En proceso</a>
			</ul>
		</div>
		<div id="solicitudesPendientes">
			<h5>Solicitudes por atender</h5>
			{{> solicitudesPendientes}}
		</div>
		<div id="solicitudesEnProceso">
			<h5>Solicitudes en proceso</h5>
			{{> solicitudesEnProceso}}
		</div>
	</div>
	<div id="laboratorios" class="col s12">
		<div id="menuLaboratorios">
			<ul>
				<a class="waves-effect waves-light btn" id="btnPendientesLab">Pendientes</a>
				<a class="waves-effect waves-light btn" id="btnAceptadasLab">Aceptadas</a>
			</ul>
		</div>
		<div id="sPendientesLab">
			<h5>Solicitudes de laboratorio</h5>
			{{> solicitudesPendientesLaboratorio}}
		</div>
		<div id="sAceptadasLab">
			<h5>Solicitudes de laboratorio</h5>
			{{> solicitudesAceptadasLaboratorio}}
		</div>
	</div>
	<div id="inventarios">
		<div id="menuInventario">
			<ul>
				<a class="waves-effect waves-light btn" id="btnArticulos">Articulos</a>
				<a class="waves-effect waves-light btn" id="btnAlta">Alta</a>
				<a class="waves-effect waves-light btn" id="btnBaja">Baja</a>
				<a class="waves-effect waves-light btn" id="btnPeticionesPendientes">Peticiones pendientes</a>
				<a class="waves-effect waves-light btn" id="btnPeticiónArticulo">Petición artículo</a>
			</ul>
		</div>
		<div id="articulos">
			<h5>Inventario</h5>
			{{> pantallaInventario}}
		</div>
		<div id="altaArticulos">
			<h5>Alta de artículos</h5>
			{{> altaArticulos}}
		</div>
		<div id="bajaArticulos">
			<h5>Baja de artículos</h5>
			{{> bajaArticulos}}
		</div>
		<div id="PeticionesPendientes">
			<h5>Peticiones pendientes</h5>
			{{> peticionesPendientes}}
		</div>
		<div id="PeticionArticulo">
			<h5>Peticiones de articulos</h5>
			{{> peticionesArticulos}}
		</div>
	</div>
	<div id="salir">
		{{> salirSistema}}
	</div>
</template>