<template name="peticionesArticulos">
	<div class="row">
		<div class="col s12">	
			<div class="row">
				<div class="col s4">
					<input placeholder="Artículo" id="txtArticulo" type="text" class="validate">
					<label for="txtArticulo"></label>
				</div>
				<div class="col s4 offset-s1">
					<input placeholder="Codigo de barras" id="txtCodigoBarras" type="text" class="validate">
					<label for="txtCodigoBarras"></label>
				</div>
				<div class="col s3">
					<a class="waves-effect waves-light btn" id="btnBuscar"><i class="material-icons left">search</i>Buscar</a>
				</div>
			</div>
			<div class="row">
			<div class="col s4">
					<input placeholder="Nombre del artículo" id="txtNombreArticulo" type="text" class="validate">
					<label for="txtNombreArticulo"></label>
			</div>
			<div class="col s4 offset-s1">
					<input placeholder="Cantidad" id="txtCantidad" type="number" class="validate">
					<label for="txtCantidad"></label>
			</div>
			</div>
			<div class="row">
			<div class="col s4">
					<input placeholder="Marca" id="txtMarca" type="text" class="validate">
					<label for="txtMarca"></label>
			</div>
			<div class="col s4 offset-s1">
					<input placeholder="Modelo" id="txtModelo" type="number" class="validate">
					<label for="txtModelo"></label>
			</div>
			</div>
			<div class="row">
				<div class="col s12">
					<input placeholder="Descripción del artículo" id="txtDescripcionArt" type="text" class="validate">
					<label for="txtDescripcionArt"></label>
			</div>
			</div>
		</div>
	</div>
</template>