<template name="salirSistema">
	    <form class="col s12 card-panel transparent" id="salir" name="frmAcceder">
        <div class="row">
            <div class="col s12">
                ¿Esta seguro que desea salir del sistema?
                <hr>
            </div>
            <div class="col s2 offset-s4">
                <div class="input-field row">
                  <a class="waves-effect light-green darken-2 btn" id="btnSi">Si<i class="material-icons right"></i></a>              
                </div>
            </div>
            <div class="col s2">
                <div class="input-field row">
                  <a class="waves-effect deep-orange darken-2 btn" id="btnNo">No<i class="material-icons right"></i></a>              
                </div>
            </div>
        </div>
    </form>
</template>