<template name="solicitudesAceptadasLaboratorio">
	<div class="row" id="solicitudesAceptadasLab">
		<div class="col s10 offset-s1">
			<table>
				<thead>
					<tr>
						<th data-field="materia">Maestro</th>
						<th data-field="materia">Materia</th>
						<th data-field="nombrePractica">Nombre de la práctica</th>
						<th data-field="fecha">Fecha</th>
						<th data-field="hora">Hora</th>
						<th data-field="hora">Ver más</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Joel Bacilio Parra</td>
						<td>Sistemas Programables</td>
						<td>Sensores ultrasónicos</td>
						<td>10/12/15</td>
						<td>14:56</td>
						<td>
							<a class="btn-floating btn-large waves-effect amber darken-1" id="btneditarSolicitudLab"><i class="material-icons">add</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="verMasSolicitud2">
		{{> verMas2}}
	</div>
</template>