<template name="solicitudesPendientesLaboratorio">
	<div class="row" id="solicitudesPendientesLab">
		<div class="col s10 offset-s1">
			<table>
				<thead>
					<tr>
						<th data-field="materia">Maestro</th>
						<th data-field="materia">Materia</th>
						<th data-field="nombrePractica">Nombre de la práctica</th>
						<th data-field="fecha">Fecha</th>
						<th data-field="hora">Hora</th>
						<th data-field="hora">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Joel Bacilio Parra</td>
						<td>Sistemas Programables</td>
						<td>Sensores ultrasónicos</td>
						<td>10/12/15</td>
						<td>14:56</td>
						<td>
							<a class="btn-floating btn-large waves-effect  green darken-2" id="btnCalendarizado"><i class="material-icons">done</i></a>
							<a class="btn-floating btn-large waves-effect amber darken-2" id="btnVerMas"><i class="material-icons">add</i></a>
							<a class="btn-floating btn-large waves-effect red darken-1" id="btnEliminar"><i class="material-icons">delete</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="verMasSolicitud">
		{{> verMas}}
	</div>
</template>