<template name="solicitudesEnProceso">
<div class="row">
	<div class="col s10 offset-s1" id="prestamos">
		<ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>11170876 Jimenez Iñiguez Edwin Fernando 06/10/15 04:18 p.m.</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos earum dolor minima autem, sit voluptatibus, praesentium eum perspiciatis, atque corrupti ducimus fugit. Sint aspernatur culpa deserunt odio, magnam accusantium sed. <br>
		      </p>
		      <a class="waves-effect waves-light btn" id="btnDevolucion">Devolución</a>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>11170899 Moreno Zazueta Judith Guadalupe 06/10/15 04:22 p.m.</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos earum dolor minima autem, sit voluptatibus, praesentium eum perspiciatis, atque corrupti ducimus fugit. Sint aspernatur culpa deserunt odio, magnam accusantium sed.</p>
		      <p>
		      	<a class="waves-effect waves-light btn" id="btnDevolucion">Devolución</a>
		      </p></div>
		    </li>
		</ul>
	</div>
</div>
</template>