<template name="verMas2">
	<div class="row" id="verPrincipal2">
		<div class="col s12">
			<div class="row">
				<div class="col">
					<h5>Información general</h5>
				</div>
				
				<div class="input-field col s3 offset-s3">
					<input id="txtFecha" type="text" class="validate">
					<label for="txtFecha">Fecha</label>
				</div>
				<div class="input-field col s3">
					<input id="txtHora" type="text" class="validate">
					<label for="txtHora">Hora</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="txtMaestro" type="text" class="validate">
					<label for="txtMaestro" class="active">Maestro</label>
				</div>
				<div class="input-field col s5 offset-s1">
					<input id="txtPractica" type="text" class="validate">
					<label for="txtPractica">Nombre de la práctica</label>
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1">
					<h5>Materiales necesarios para la práctica</h5>
					<table>
						<thead>
							<tr>
								<th data-field="Cantidad">Maestro</th>
								<th data-field="Descripción">Materia</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Cautín</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<a class="btn-floating btn-large waves-effect amber darken-1" id="btnRegresar2"><i class="material-icons">reply</i></a>
			</div>
		</div>
	</div>	
</template>