<template name="pantallaMaestro">
	<div class="row">
		<div class="col">
			<ul class="tabs">
				<li class="tabs col s3 active" href="#solicitudes">Solicitudes</li>
				<li class="tabs col s3" href="#resportes">Reportes</li>
				<li class="tabs col s3" href="#salir">Salir</li>
			</ul>
		</div>
	</div>
	<div id="solicitudes" class="col s12">
		<div id="menuSolicitudesMaestro">
			<ul>
				<a class="waves-effect waves-light btn" id="btnSolicitudesAceptadas"></a>
				<a class="waves-effect waves-light btn" id="btnSolicitudesPendientes"></a>
				<a class="waves-effect waves-light btn" id="btnNuevaSolicitud"></a>
			</ul>
		</div>
		<div id="sAceptadasMaestro">
			<h5>Solicitudes aceptadas</h5>
			{{> sAceptadasMaestro}}
		</div>
		<div id="sPendientesMaestro">
			<h5>Solicitudes pendientes</h5>
			{{> sPendientesMaestro}}
		</div>
		<div id="sNuevaMaestro">
			<h5>Nueva solicitud</h5>
			{{> sNuevaMaestro}}
		</div>
	</div>
</template>