<template name="pantallaMaestro">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3 active"><a href="#solicitudes">Solicitudes</a></li>
				<li class="tab col s3"><a href="#reportes">Reportes</a></li>
				<li class="tab col s3"><a href="#salir">Salir</a></li>
			</ul>
		</div>
	</div>
	<div id="solicitudes" class="col s12">
		<div id="menuSolicitudesMaestro">
			<ul>
				<a class="waves-effect waves-light btn" id="btnSolicitudesAceptadas">Aceptadas</a>
				<a class="waves-effect waves-light btn" id="btnSolicitudesPendientes">Pendientes</a>
				<a class="waves-effect waves-light btn" id="btnNuevaSolicitud">Nueva</a>
			</ul>
		</div>
		<div id="sAceptadasMaestro">
			<h5>Solicitudes aceptadas</h5>
			{{> sAceptadasMaestro}}
		</div>
		<div id="sPendientesMaestro">
			<h5 id="etiquetaPendientes">Solicitudes pendientes</h5>
			{{> sPendientesMaestro}}
		</div>
		<div id="sNuevaMaestro">
			<h5>Nueva solicitud</h5>
			{{> sNuevaMaestro}}
		</div>
	</div>
	<div id="reportes">
	  			{{> seleccionListaAsistencia}}
	 </div>
	<div id="salir">
	  			{{> salirSistema}}
	 </div>
</template>