<template name="sAceptadasMaestro">
	<div class="row">
		<div class="col s8 offset-s2">
			<table>
				<thead>
					<tr>
						<th data-field="materia">Materia</th>
						<th data-field="nombrePractica">Nombre de la práctica</th>
						<th data-field="fecha">Fecha</th>
						<th data-field="hora">Hora</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sistemas Programables</td>
						<td>Sensores ultrasónicos</td>
						<td>10/12/15</td>
						<td>14:56</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>